<!DOCTYPE html>
<!--[if lt IE 9]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Lilly Bites</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <style type="text/css">
        @@include('../_site/css/global.css')
    </style>
    <!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <script src="//use.typekit.net/zha2gll.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
    @@include('../_includes/svg-defs.svg')
    <div class="page-wrap">