        <header class="site-header">
            <nav class="site-navigation">
                <div class="page-width">
                    <a class="logo" href="/">
                        <svg><use xlink:href="#shape-logo" /></svg>
                    </a>

                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Ask</a></li>
                        <li><a href="">Email</a></li>
                    </ul>
                </div>
            </nav>
        </header>