.site-footer {
    background: #222;
    padding: 2em 0;
    color: $midgrey;

    h3 {
        margin: 0;
        color: lighten($midgrey, 10);
    }

    a {
        color: lighten($midgrey, 20);

        &:hover, &:focus {
            color: $midgrey;
        }
    }
}