.site-header {
    background: url({image:Header});
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: $padding 0;
    text-align: center;

    @include breakpoint(baby-bear) {
        padding: 2em 0;
    }
}

.site-navigation {
    ul {
        list-style: none;
    }

    li {
        display: inline-block;
        font-weight: 600;
        text-transform: uppercase;

        a {
            color: #FFF;

            &:hover, &:focus {
                color: rgba(255,255,255,0.75);
            }
        }

        &::before {
            content: "/";
            display: inline-block;
            margin: 0 10px;
            color: rgba(255,255,255,0.50);

            @include breakpoint(baby-bear) {
                content: "";
                margin: 0 5px;
            }

        }

        &:first-child::before {
            content: "";
            margin: 0;
        }
    }

    .page-width {
        display: flex;
        flex-direction: column;
    }
}

$logoWidth: 239px;
$logoHeight: 175px;
.logo {
    margin: 0 0 2em;
    svg {
        width: $logoWidth;
        height: $logoHeight;
        fill: #FFF;
    }

    @include breakpoint(baby-bear) {
        margin: 0 0 1em;

        svg {
            width: $logoWidth/2;
            height: $logoHeight/2;
        }
    }

}

.featured-post {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1em;
    text-align: right;
    line-height: 1.2;

    a {
        color: rgba(255, 255, 255, 1.00);
        font-weight: bold;
        transition: color 0.2s linear;

        &:hover {
            color: rgba(255, 255, 255, 0.75);

            .featured-post__read {
                color: rgba(255, 255, 255, 0.50);
            }
        }
    }

    @include breakpoint(mama-bear) {
        position: static;
        bottom: auto;
        right: auto;
        text-align: center;
        padding: 1.5rem 0 0;
    }
}

.featured-post__read {
    color: rgba(255, 255, 255, 0.80);
    font-family: Georgia, serif;
    font-size: 0.90em;
    font-weight: normal;
    font-style: italic;

    transition: color 0.2s linear;
}
