.post {
    margin: 0 0 $padding 0;
    line-height: 1.9;
    font-size: 18px;

    h2 {
        color: $ginger;
    }

    ul {
        list-style: circle;
    }

    li {
        margin: 0 0 0.5em 2em;
    }
}