html {
    font-size: 100%;

    @include breakpoint(mama-bear) {
        font-size: 90%;
    }

    @include breakpoint(baby-bear) {
        font-size: 80%;
    }
}

body {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.7;
    color: $darkgrey;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    transition: color .2s linear;
    color: $ginger;

    &:hover, &:focus {
        color: darken($ginger, 10);
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-weight: inherit;
}

h1, h2, h3 {
    font-family: "europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 3em;
    margin: 3rem 0 1rem 0;
    color: $ginger;
}

h2 {
    font-size: 2.3em;
    margin: 3rem 0 1rem 0;
}

h3 {
    font-size: 1.6em;
    margin: 1.5rem 0 0.8rem 0;
}

h4 {
    font-size: 1.3em;
    margin: 0 0 0.6rem 0;
}

h5 {
    font-size: 1em;
    margin: 0 0 0.4rem 0;
}

p {
    margin: 0 0 1rem 0;
}

hr {
    border: 0;
    background: $lightgrey;
    margin: 0 0 $padding 0;
    height: 2px;
    width: 5em;
    text-align: left;
}

input, textarea {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}